.parent-cards {
    height: 90vh;
    overflow-y: scroll;
}

.parent-cards h2 {
    font-size: 1.6em;
    padding: 0.6em 0 0 0;
    text-align: center;
}

.parent-cards h2 span {
    font-family: 'Oswald';
    color: #006060;
}

.child-card {
    display: flex;
    flex-direction: column;
    border: 0.5px black solid;
    box-shadow: 5px 5px 5px#404d48;
    border-radius: 25px;
    margin: 1em 1em 2em 1em;
    text-align: center;
    background-color: #80DEEA;
}

.child-name {
    text-transform: uppercase;
    padding-top: 0.3em;
}

.points {
    letter-spacing: 0.2em;
    justify-content: center;
    height: 3vh;
    margin: 0.3em;
    display: flex;
    text-align: center;
}

.child-card .points img {
    max-width: 100%;
    max-height: 100%;
}

.child-card .points .coin {
    margin-right: 0.5em;
}

.child-card .avatar {
    margin: 0 auto;
    max-width: 30%;
    max-height: 30%;
    justify-content: center;
}

.child-card .task-list .empty {
    text-align: center;
}

.child-card .task-list {
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.3em;
    padding: 0.2em;
    max-height: 16vh;
    text-align: left;
    background-color: white;
    overflow: auto;
}

.child-card .add-btn {
    width: fit-content;
    align-self: flex-end;
    margin: 0 1em -1.3em 0;
    border-radius: 10px;
    background-color: #0c2231;
    padding: 0.3em;
    text-transform: uppercase;
    width: 50%;
    padding: 0.5em 0;
    color: white;
    font-family: 'Oswald';
    cursor: pointer;
}